main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/aberturas/Hero.jpg);
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    flex-direction: column;
    gap: 50px;


}
.logo-gb {
   width: 300px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 600;
    background-color:  rgb(86, 86, 86, 0.5);
    padding: 20px;
    border-radius: 20px;
    color: white;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #4caf50;
  }
  
  .boton {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  boton:hover {
    background-color: #3e8e41;
  }
  @media (max-width: 576px) {
    .logo-gb{
        max-width: 300px;
        width: 90%;

    }
  }